footer 
    .container#footer-section-wrap 
        .row.text-center.text-lg-start 
            .col-12.col-sm-12.col-lg-3#footer-content

                img.img-fluid(src="images/Footer-Logo.png", alt="Footer Logo")
                
                p.pt-3.mb-3.footer-para-font Registered as Giftabyte. Under Indian Society Registration Act XXI, 1860 <br/><br/>
                    | All donations are tax-exempted as eligible under section 80G of the Income Tax Act, 1961.
                .d-flex.justify-content-center.justify-content-xl-start#footer-social-flex
                    ul.list-group.list-group-horizontal
                        each item in ['fa-brands fa-facebook', 'fa fa-instagram', 'fa fa-twitter', 'fa fa-pinterest' ]
                            li.list-group-item.rounded-circle
                                i(class=item)
                    
            .col-12.col-sm-12.col-lg-9#footer-widget
                .container 
                    .row 
                        .col-sm-12.col-md-6.col-xl-4
                            h3.footer-sub-heading-font Who are we
                            ul 
                                li About Us
                                li Mission
                                li Our Causes 
                                li Campaigns 
                                li Team
                        .col-sm-12.col-md-6.col-xl-4
                            h3.footer-sub-heading-font Get Involved
                            ul 
                                li Donate 
                                li Volunteer 
                                li Request Food 
                                li Blog
                                li FAQs
                        .col-sm-12.col-xl-4
                            h3.footer-sub-heading-font Contact 
                            p.pt-3.footer-para-font 307, Rajhans, Rokhidia Lane , Mandpeshwar Rd, Borivali (west)
                            | Mumbai <br/> Maharashtra - 400092 <br/> INDIA
    .container-fluid.p-0#copyright-section-wrap
        .d-flex.justify-content-center
            h5.m-0 Copyright © Giftabyte | 2022-2023 

                