footer 
    .container#footer-section-wrap 
        .row.text-center.text-lg-start 
            .col-12.col-sm-12.col-lg-3#footer-content

                img.img-fluid(src=`${getAssetPath('images/Footer-Logo.png')}`, alt="Footer Logo")
                
                p.pt-3.mb-3.footer-para-font Registered as Giftabyte. Under Indian Society Registration Act XXI, 1860 <br/><br/>
                    | All donations are tax-exempted as eligible under section 80G of the Income Tax Act, 1961.
                .d-flex.justify-content-center.justify-content-xl-start#footer-social-flex
                    ul.list-group.list-group-horizontal
                        a(href="https://facebook.com")
                            li.list-group-item.rounded-circle  
                                i.fa-brands.fa-facebook
                        a(href="https://instagram.com")
                            li.list-group-item.rounded-circle
                                 i.fa.fa-instagram
                        a(href="https://twitter.com")
                            li.list-group-item.rounded-circle
                                i.fa.fa-twitter 
                        a(href="https://pinterest.com")        
                            li.list-group-item.rounded-circle
                                i.fa.fa-pinterest 
                    
            .col-12.col-sm-12.col-lg-9#footer-widget
                .container 
                    .row.text-start 
                        .col-sm-12.col-md-6.col-xl-4.mt-3.mt-lg-0
                            h3.footer-sub-heading-font.mb-0 Who are we
                            ul 
                                li 
                                 a(href="/about-us") About Us
                                li 
                                  a(href="/about-us#mission") Mission
                                li 
                                  a(href="/about-us#mission") Goals 
                                li 
                                  a(href="/join-us") Join US 
                                li 
                                  a(href="/#other-donations") Team
                        .col-sm-12.col-md-6.col-xl-4.mt-3.mt-lg-0
                            h3.footer-sub-heading-font.mb-0 Get Involved
                            ul 
                                li 
                                    a(href="/join-us") Donate 
                                li 
                                    a(href="/join-us") Volunteer 
                                li 
                                    a(href="/join-us") Request Food 
                                li 
                                    a(href="/about-us") Blog
                                li 
                                    a(href="/about-us") FAQs
                        .col-sm-12.col-xl-4.mt-3.mt-xl-0
                            h3.footer-sub-heading-font.mb-0 Contact 
                            p.pt-3.footer-para-font 307, Rajhans, Rokhidia Lane , Mandpeshwar Rd, Borivali (west)
                            | Mumbai <br/> Maharashtra - 400092 <br/> INDIA
    .container-fluid.p-0#copyright-section-wrap
        .d-flex.justify-content-center
            - let currentyear = new Date().getFullYear();
            h5.m-0 Copyright &#169; Giftabyte | 2022-#{currentyear}