header 
    //- Main GRID Container
    .container
        //- ROW 1
        #contact-social.row.align-items-center.justify-content-center.justify-content-md-between
            
            //- COL 1
            .col-sm-6.text-center.text-md-start
                //- SUB-ROW
                .row.align-items-center 
                    .col-sm-auto
                        //- Item from fontawesome
                        i.fa-solid.fa-phone
                        a.ms-2(href='tel:+919876543210') +91 9876 543 210 
                    .col-sm-auto
                        i.fa-solid.fa-envelope
                        a.ms-2(href='mailto:info@giftabite.link') info@giftabite.link
            
            //- COL 2
            .col-sm-auto.text-center.offset-md-2#social-icons
                        a.me-3(href='https://instagram.com' aria-label="Instagram Link")
                            i.fa-brands.fa-instagram
                        a.me-3(href='https://fb.com' aria-label="Facebook Link")
                            i.fa-brands.fa-facebook
                        a.me-3(href='https://twitter.com' aria-label="Twitter Link")
                            i.fa-brands.fa-twitter
                        a(href='https://pinterest.com' aria-label="Pinterest Link")
                            i.fa-brands.fa-pinterest