extends layout.pug

append css
    link(rel="stylesheet" href=`${getAssetPath('css/aboutus.css')}`)

block content
    //-About Us Banner
    section#about-us-Banner
        .d-flex#banner-container
            .container.d-flex.align-items-center#banner-flex
                #banner-title-wrap
                    p.mb-0.sub-title-font What We Do...
                    h1 About our <br/> Organization

    //- ABOUT US
    section#about-us-description 
        .container 
            .row.text-center.mb-3.mb-md-5#about-title-wrap
                p.sub-title-font.red-font About Us 
                .col#quote
                    sup.me-2 
                        i.fa-solid.fa-quote-left 
                    | Hunger is not a problem. It is an obscenity. 
                    | How wonderful it is that nobody need wait a single
                    | moment before starting to improve the world. – Anne Frank
                    sup.me-2 
                        i.fa-solid.fa-quote-right
            .row.mt-2.text-center.text-md-start#descriptive-para 
                p.para-font-style.grey-font
                 | Giftabite aims to reduce food waste and provide access to food to 
                 | those in need by redistributing excess food from events to the hungry.
                 | <br/> <br/>
                 | Started in Mumbai, the organization works with governments, corporations, partners, and volunteers 
                 | to create local chapters addressing urban and environmental challenges in line with UN Sustainable Development Goals.
                 | Food waste not only has economic and societal impacts but also puts undue pressure on natural resources 
                 | and the environment, emitting about 8% of global greenhouse gases annually.

    //- GOAL AND MISSION
    section#goals-and-mission
        .container
            .row.g-2.g-sm-5.text-center.text-lg-start
                .col-12.col-lg-6#goals 
                    h2.dark-font Our Goal
                    p.para-font-style.grey-font To feed the needy and hungry with untouchable edible surplus food.
                     | To sensitize people about the amount of food being wasted through standardized food waste auditing methods.
                    .row.goal-list.g-3.justify-content-evenly.justify-content-lg-start
                        .col-12.col-md-6.me-0.me-lg-3.p-3.rounded-pill
                            i.fa-regular.fa-circle-check.red-font.me-2 
                            | Food Loss Awarness
                        .col-12.col-md-6.p-3.rounded-pill
                            i.fa-regular.fa-circle-check.red-font.me-2 
                            | Food Waste Audits
                    .row.goal-list.g-3.justify-content-evenly.justify-content-lg-start
                        .col-12.col-md-6.me-0.me-lg-3.p-3.rounded-pill
                            i.fa-regular.fa-circle-check.red-font.me-2 
                            | To Reduce Food Loss
                        .col-12.col-md-6.p-3.rounded-pill
                            i.fa-regular.fa-circle-check.red-font.me-2 
                            | Surplus Food
                    .row.goal-list.g-3.justify-content-evenly.justify-content-lg-start
                        .col-12.p-3.rounded-pill
                            i.fa-regular.fa-circle-check.red-font.me-2 
                            | Protecting Malnourished Children
                    p.mt-3.para-font-style.grey-font raise awareness about food loss and food waste amongst citizens and 
                     | bring about behavioral change in them to prevent food waste at home, 
                     | school or at workplace through guidance and sharing of good practices

                .col-12.col-lg-6#mission
                    .row#mission-title-wrap
                        h2.dark-font Our Mission
                        p.para-font-style.grey-font To raise awareness among Food businesses by encouraging 
                         | them to adopt good practices to reduce food loss and food 
                         | waste in their supply chains and sharing good practices
                    .row#goal-and-image-wrap
                        img.img-fluid(src=`${getAssetPath('images/Our-mission-image.jpg')}`, alt="Our Mission Image").pt-4.px-0
                    .row#goal-quote 
                        .col.text-center
                            h2.sub-heading-font.p-0.m-0 20000+
                            p.para-font-style.p-0.m-0 People Got Help

    //- ABOUT US PAGE NEWSLETTER
    section#aboutus-newsletter 
            .container 
                .row.text-center.justify-content-center#newsletter-title-warp
                    .col-6 
                        p.sub-title-font.white-font subscribe 
                        h2.sub-heading-font.white-font newsletter
                        p.para-font-style.white-font We aspire to be like helpers. So we serve all people. 
                            | No matter their religion, ethnicity, or gender.
                        form(action="/subsribe").d-block.d-md-flex
                            input.form-control(type="email" placeholder="Enter Your Email").rounded-pill
                            button.ms-md-3.mt-3.mt-md-0.btn(type="submit").black-button-white-hover.rounded-pill  send 
