.table-responsive
    table.table
        thead
            tr
                th(scope='col') Requested By
                th(scope='col') Quantity(Meals)
                th(scope='col') Status
                if (user_details.registerAs == 'Volunteer')
                    th(scope='col') Pickup Address 
                else 
                    th(scope='col') Delivery Address
        tbody.table-group-divider
            for request of all_requests
                tr
                    td 
                        =request.requestedBy.name
                    td  
                        =request.quantity
                    td 
                        =request.status
                    td
                        =request.address
