form#createRequests-form.w-50(action='/dashboard/create-requests' method='post' novalidate='')
    .mb-3
        input#Quantity.form-control(name='quantity' type='number' placeholder='Quantity' required='' data-parsley-trigger='change' data-parsley-type-message='Please enter a valid Quantity' data-parsley-required-message='Quantity is required')
    .mb-3 
        input#Address.form-control(name='address.street' type='text' placeholder='Address (House/Flat No. and Street)' value=`${user_details.address.street}`)
    .mb-3.d-flex.justify-content-between
        .col-5
            input#townOrvillage-label.grey-font.form-control(name='address.townorvillage' placeholder="Town or Village Name" value=`${user_details.address.townorvillage}`)
        .col-6 
            input#district-label.grey-font.form-control(name='address.district' placeholder="District" value=`${user_details.address.district}`)
    .mb-3 
        input#state-label.grey-font.form-control(name='address.state' placeholder="State" value=`${user_details.address.state}`)

    button.btn.black-button-white-hover.rounded-pill(type='submit') Submit
