@use 'mixins/main' as main;
@use 'variables/colors' as *;
@use 'partials/custom_elements' as ce;

/*### HOMEPAGE STYLE ####*/

/* TOP BANNER DESIGN*/
#main-Banner {

    #banner-container {
        width: 100%;
        background: url('../images/banner.jpg') center/cover no-repeat;

        //Responsive Height
        @include main.responsive-height(500px, 600px, 750px, 950px);

        #banner-title-wrap {
            padding: 1%;
            background-color: rgba(46, 64, 73, 0.6);
            color: white;
            line-height: 1;

            p {
                font-weight: 400;
                @include main.responsive-fontsize(35px, 36px, 40px, 50px);
            }

            #banner-heading {
                width: auto;
                //Responsive font size
                @include main.responsive-fontsize(35px, 38px, 50px, 70px, 90px);

                font-family: 'Shippori Mincho', sans-serif;
                font-weight: 800;
                line-height: 1.2;
            }

            #banner-shape {
                margin-top: 4%;

                #circle-shape {
                    padding: 0;
                    margin: 0;
                    width: 24px;
                    height: 24px;
                    background-color: white;
                }

                #shape-line {
                    height: 0px;
                }

                #shape-text {
                    padding: 2px;
                    font-family: 'Work Sans', sans-serif;
                    color: #fff;
                    font-size: 18px;
                    line-height: 1.5;
                    font-weight: 500;
                    text-transform: uppercase;
                }
            }
        }
    }
}

/* ABOUT US INTRO SECTION */
#about-us-intro {
    .container {
        @include main.responsive-margin(auto, auto,  -5% auto auto);
        @include main.responsive-width(90%, 90%, 100%);

        .row {
            #col1{
                @include main.responsive-padding(40px 20px, 50px 20px 60px, 50px 30px 60px 46px);
                background-color: $primary-color;
                color: $tertiary-color;
            }

            #col2{
                @include main.responsive-padding(40px 20px 60px, 60px 20px, 60px 19px 60px 46px, 40px 19px 40px 46px);
                background-color: $tertiary-color;
                color: white;
            }
            .col-lg-4 {
                p {
                    padding-top: 10px;
                }

                #join-link {
                    color: white;
                }
            }

            #col3 {
                padding: 0%;
                position: relative;
                background: url('../images/backgroundimage1.jpg') center/cover no-repeat;
                min-height: 200px;

                &:before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(255, 109, 109, 0.67);
                }

                .fa-circle {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    border: none;
                    color: white;
                    font-size: 80px;

                    &:hover {
                        color: $primary-color;
                    }
                }

                .fa-play {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    border: none;
                    color: $tertiary-color;
                    font-size: 20px;
                }
            }
        }
    }
}

/* ABOUT US SECTION */
#about-us-container {
    padding: 4% 0%;

    #about-us-content {
        #about-section-title-wrap {
            p {
                color: $secondary-color;
            }

            h2 {
                color: $tertiary-color;
            }
        }

        #about-section-content-wrap {
            p {
                margin-bottom: 10px;
                padding-top: 10px;
                color: $home-color2;
                line-height: 1.5;
            }
        }

    }

    #donation-content {
        padding: 60px 40px 46px;
        background-color: $home-color1;

        #about-us-list {
            list-style: none;
            padding-left: 0;
            font-weight: 500;
            color: $home-color2;
            font-family: 'Work Sans', sans-serif;
            font-size: 20px;
            line-height: 1.5;

            li {
                margin-bottom: 10px;
                padding-top: 10px;
            }
        }

        #total-donation-wrap {
            #total-donation-wrap-heading {
                h2 {
                    font-weight: 800;
                }
            }

            #total-donation-wrap-progress {
                .progress {
                    background-color: $home-color3;

                    .progress-bar {
                        background-color: $secondary-color;
                    }
                }
            }

            h3 {
                font-family: 'Shippori Mincho', sans-serif;
                font-weight: 500;
            }
        }
    }
}

/*BECOME VOLUNTEER SECTION */
#become-volunteer-section {
    background: url('../images/volunteerBackground.jpg') center/cover no-repeat;
    position: relative;
    @include main.responsive-padding(80px 0px, 80px 0px, 100px 0px, 140px 0px);

    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(46, 64, 73, 0.96);
    }

    .container {
        position: relative;
        color: white;

        #vounteer-form-wrap {
            border: 1px solid white;
            @include main.responsive-padding(40px 20px 25px, 50px 20px 25px, 50px 20px 25px, 50px 35px 30px, 60px 65px 40px);

            form {
                input {
                    width: 100%;
                    height: 65px;
                    padding: 8px 12px 8px 23px;
                    margin-bottom: 30px;
                    border: 1px solid white;
                    font-size: 18px;
                    font-weight: 400;
                    color: white;
                    line-height: 1.42857143;
                    background-color: transparent;
                    font-family: 'Work Sans', sans-serif;
                    &::placeholder{
                        color: #fff;
                    }
                    &:focus{
                        border: none;
                        outline: none;
                        box-shadow: 0 0 0 1px $primary-color;
                    }
                }
            }

        }
    }
}

/*OTHER DONATIONS*/
#other-donations{
    padding: 4% 0%;
}

/*NEWSLETTER SECTION*/
#newsletter-section{
    #newsletter-form{
        background-color: $secondary-color;
        color: white;

        form{
            input{
                width: 70%;
                height: 65px;
                padding: 8px 12px 8px 23px;
                border: none;
                font-size: 18px;
                font-weight: 400;
                color: $home-color2;
            }

            button{
                @include ce.black-btn;
                @include main.responsive-padding(15px 30px, 20px 30px, 20px 30px, 20px 30px);
                &:hover{
                    border: 2px solid $tertiary-color;
                } 
            }

        }
    }

    #recent-gallery-pics{
        background: url('../images/newsletterbackground.jpg') center/cover no-repeat;
        position: relative;
        color: $tertiary-color;

        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            min-height: fit-content;
            height: 100%;
            background-color: rgba(119, 215, 211, 0.9);
        }

        .col{
            position: relative;

            button{
                &:hover{
                    border: 2px solid $tertiary-color;
                } 
            }
        }
    }
}