@use 'mixins/main' as main;
@use 'partials/custom_elements' as ce;
@use 'variables/colors' as c;

/*### NAVBAR STYLE ####*/
//Controlling Navbar elements display on mobile and small tablets
@media screen and (max-width: 576px) {
    nav {

        #nav-buttons {
            margin-left: 5%;
            width: 90%;
            align-self: stretch;
            justify-content: space-between;
        }

        .navbar-brand {
            margin-left: auto;
            margin-right: auto;
        }
    }
}

@media screen and (max-width: 767px){
    #navbar-collapse{
        margin-top: -10px;
        border-top: 1px solid c.$extra-nav-color;
        padding-left: 2rem;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        z-index: 1;
        background-color: white;
    }
}

//Navbar element on HD screens
@media screen and (min-width: 1280px) {
    .nav-item{
        padding: 0px 1.5rem 0px 1.5rem;
        border-right: 1px solid c.$nav-color1;
        font-weight: 500;
    }
}


/*Nav elements main design */

#main-navbar{
    padding-top: 29px;
    padding-bottom: 35px;
}

nav {
    .container{
        @include main.responsive-padding(0px 0px 15px, 0);
    }


    //Donate Button design
    #nav-donate-button {
        @include ce.red-button;
        @include main.responsive-padding(15px 30px, 20px 30px);
        @include main.responsive-margin(0, 0, 0, 0, 0 0 0 57px);
        @include main.responsive-fontsize(16px, 18px);
    }

    //toggle button design
    #nav-toggle-button {
        @include ce.red-button;
        @include main.responsive-padding(15px, 20px 18px);

        &:not(.collapsed){
            background-color: c.$primary-color;
        }

        border-radius: 13px;
        margin-left: 25px;

        i {
            height: 24px;
            width: 24px;
        }
    }

    .navbar-nav {
        .nav-link.active {
            color: c.$secondary-color;
        }
    }
}