@import 'variables/colors';

/*### NAVBAR STYLE ####*/
//Controlling Navbar elements display on mobile and small tablets
@media screen and (max-width: 576px) {
    nav {
        .container {
            padding: 0px 0px 15px;
        }

        #nav-buttons {
            margin-left: 5%;
            width: 90%;
            align-self: stretch;
            justify-content: space-between;
        }

        .navbar-brand {
            margin-left: auto;
            margin-right: auto;
        }

        #nav-donate-button{
            padding: 15px 30px;
            font-size: 16px;
        }

        #nav-toggle-button{
            padding: 15px 18px;
        }

    }
}

@media screen and (max-width: 767px){
    #navbar-collapse{
        margin-top: -10px;
        border-top: 1px solid $extra-nav-color;
        padding-left: 2rem;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        z-index: 1;
        background-color: white;
    }
}

//Navbar element on HD screens
@media screen and (min-width: 1280px) {
    #nav-donate-button {
        margin-left: 57px;

    }

    .nav-item{
        padding: 0px 1.5rem 0px 1.5rem;
        border-right: 1px solid $nav-color1;
        font-weight: 500;
    }
}

//Navbar elements design on screen bigger than mobiles
@media screen and (min-width: 576px){

    #nav-donate-button{
        font-size: 17.5px;
        font-weight: 500;
        padding: 20px 30px;
    }

    #nav-toggle-button{
        padding: 20px 18px;
    }
}

/*Nav elements main design */

#main-navbar{
    padding-top: 29px;
    padding-bottom: 35px;
}

nav {

    //Logo Dimensions
    .navbar-brand {
        img {
            width: 204px;
            height: 51px;
        }
    }

    //Donate Button design
    #nav-donate-button {
        border: none;
        border-radius: 34px;
        background-color: $secondary-color;
        color: white;
        text-transform: uppercase;

        &:hover {
            background-color: $primary-color;
        }
    }

    //toggle button design
    #nav-toggle-button {
        border: none;
        box-shadow: 0 0 0 0;
        background-color: $secondary-color;

        &:not(.collapsed){
            background-color: $primary-color;
        }

        border-radius: 13px;
        color: white;
        margin-left: 25px;

        i {
            height: 24px;
            width: 24px;
        }
    }

    .navbar-nav {
        .nav-link.active {
            color: $secondary-color;
        }
    }
}