@import 'variables/colors';

//Controlling Navbar elements display on mobile and small tablets
@media screen and (max-width: 576px) {
    nav {
        .container {
            padding: 0px 0px 15px;
        }

        #nav-buttons {
            margin-left: 5%;
            width: 90%;
            align-self: stretch;
            justify-content: space-between;
        }

        .navbar-brand {
            margin-left: auto;
            margin-right: auto;
        }

        #nav-donate-button{
            padding: 15px 30px;
            font-size: 16px;
        }

        #nav-toggle-button{
            padding: 15px 18px;
        }

        #navbar-collapse{
            margin-left: 2rem;
        }
    }
}

//Navbar element on HD screens
@media screen and (min-width: 1280px) {
    #nav-donate-button {
        margin-left: 57px;

    }
}

//Navbar elements design on screen bigger than mobiles
@media screen and (min-width: 576px){

    #nav-donate-button{
        font-size: 17.5px;
        font-weight: 500;
        padding: 20px 30px;
    }

    #nav-toggle-button{
        padding: 20px 18px;
    }
}

/*Nav elements main design */

nav {
    //Logo Dimensions
    .navbar-brand {
        img {
            width: 204px;
            height: 51px;
        }
    }

    //Donate Button design
    #nav-donate-button {
        border: none;
        border-radius: 34px;
        background-color: $secondary-color;
        color: white;
        text-transform: uppercase;

        &:hover {
            background-color: $primary-color;
        }
    }

    //toggle button design
    #nav-toggle-button {
        border: none;
        box-shadow: 0 0 0 0;
        background-color: $secondary-color;

        &:not(.collapsed){
            background-color: $primary-color;
        }

        border-radius: 13px;
        color: white;
        margin-left: 25px;

        i {
            height: 24px;
            width: 24px;
        }
    }
}