$breakpoints: (
  xs: 0px,
  mobile: 576px,
  tablet: 768px,
  desktop: 991px,
  wide: 1200px,
  xxl: 1400px
);

$show-breakpoints: (xs, mobile, tablet, desktop, wide, xxl);
@use '../../../node_modules/sass-mq/mq' with (
  $breakpoints: $breakpoints,
  $show-breakpoints: $show-breakpoints
);
@import 'main';

@mixin mdname($uptomobile, $mobiletotab, $tabtodesktop, $abovedesktop){
    @include mq.mq($until: mobile){

    }
    @include mq.mq($from: mobile, $until: tablet){

    }
    @include mq.mq($from: tablet, $until: desktop){

    }
    @include mq.mq($from: desktop){

    }
}

@mixin responsive-height-gen($uptomobile, $mobiletotab, $tabtodesktop, $abovedesktop){
    @include mq.mq($until: mobile){
        height: $uptomobile;   //500px
    }
    @include mq.mq($from: mobile, $until: tablet){
        height: $mobiletotab; //600px
    }
    @include mq.mq($from: tablet, $until: desktop){
        height: $tabtodesktop;  //750px
    }
    @include mq.mq($from: desktop){
        height: $abovedesktop;      //950px
    }
}

@mixin responsive-fontsize-gen($uptomobile, $mobiletotab, $tabtodesktop, $abovedesktop){
    @include mq.mq($until: mobile){
        font-size: $uptomobile;
    }
    @include mq.mq($from: mobile, $until: tablet){
        font-size: $mobiletotab;
    }
    @include mq.mq($from: tablet, $until: desktop){
        font-size: $tabtodesktop;
    }
    @include mq.mq($from: desktop){
        font-size: $abovedesktop;
    }
}

@mixin resposive-fontsize-ext($uptomobile, $mobiletotab, $tabtodesktop, $desktoptohd, $abovehd){
    @include mq.mq($until: mobile){
        font-size: $uptomobile;
    }
    @include mq.mq($from: mobile, $until: tablet){
        font-size: $mobiletotab;
    }
    @include mq.mq($from: tablet, $until: desktop){
        font-size: $tabtodesktop;
    }
    @include mq.mq($from: desktop, $until: wide){
        font-size: $desktoptohd;
    }
    @include mq.mq($from: wide){
        font-size: $abovehd;
    }
}

@mixin responsive-red-button($pmbledw, $pmbleup, $fntmbdw, $fntmbup, $margindw: 0, $marginup: 0, $screensize){
    @include mq.mq($until: $screensize){
        @include red-button($pmbledw, $fntmbdw);
        margin: $margindw;
    }
    @include mq.mq($from: $screensize){
        @include red-button($pmbleup, $fntmbup);
        margin: $marginup;
    }
}

@mixin responsive-white-button($pmbledw, $pmbleup, $fntmbdw, $fntmbup, $margindw: 0, $marginup: 0, $screensize){
    @include mq.mq($until: $screensize){
        @include white-button($pmbledw, $fntmbdw);
        margin: $margindw;
    }
    @include mq.mq($from: $screensize){
        @include white-button($pmbleup, $fntmbup);
        margin: $marginup;
    }
}

@mixin responsive-width($uptomobile, $mobiletotab, $tabtodesktop, $abovedesktop){
    @include mq.mq($until: mobile){
        width: $uptomobile;
    }
    @include mq.mq($from: mobile, $until: tablet){
        width: $mobiletotab;
    }
    @include mq.mq($from: tablet, $until: desktop){
        width: $tabtodesktop;
    }
    @include mq.mq($from: desktop){
        width: $abovedesktop;
    }
}

@mixin responsive-padding-gen($uptomobile, $mobiletotab, $tabtodesktop, $abovedesktop){
    @include mq.mq($until: mobile){
        padding: $uptomobile;
    }
    @include mq.mq($from: mobile, $until: tablet){
        padding: $mobiletotab;
    }
    @include mq.mq($from: tablet, $until: desktop){
        padding: $tabtodesktop;
    }
    @include mq.mq($from: desktop){
        padding: $abovedesktop;
    }
}

@mixin responsive-padding-ext($uptomobile, $mobiletotab, $tabtodesktop, $desktoptohd, $abovehd){
    @include mq.mq($until: mobile){
        padding: $uptomobile;
    }
    @include mq.mq($from: mobile, $until: tablet){
        padding: $mobiletotab;
    }
    @include mq.mq($from: tablet, $until: desktop){
        padding: $tabtodesktop;
    }
    @include mq.mq($from: desktop, $until: wide){
        padding: $desktoptohd;
    }
    @include mq.mq($from: wide){
        padding: $abovehd;
    }
}