@import '../variables/colors';

/* BUTTON DESIGNS */

@mixin white-button($padding, $font-size, $hover-background: $tertiary-color){
    border: none;
    box-shadow: 0 0 0 0;
    background-color: white;
    color: $tertiary-color;
    padding: $padding;
    font-size: $font-size;
    font-weight: 500;
    text-transform: uppercase;
    &:hover{
        background-color: $hover-background;
        color: white;
    }
}

@mixin red-button($padding, $font-size){
    border: none;
    box-shadow: 0 0 0 0;
    background-color: $secondary-color;
    color: white;
    padding: $padding;
    font-size: $font-size;
    font-weight: 500;
    text-transform: uppercase;

    &:hover{
        background-color: $primary-color;
    }
}