/* MAIN COLORS */
/* HEADER COLORS */
/*Navbar Colors*/
/*Homepage Colors*/
/* Footer Colors */
/* WIDTH AND HEIGHT */
/* PADDINGS AND MARGINS */
/* FONTS */
#error-banner #error-banner-container {
  background: url("../images/404.jpg") center/cover no-repeat;
  width: 100%;
}
@media (max-width: 35.99em) {
  #error-banner #error-banner-container {
    height: 420px;
  }
}
@media (min-width: 36em) and (max-width: 47.99em) {
  #error-banner #error-banner-container {
    height: 560px;
  }
}
@media (min-width: 48em) and (max-width: 61.9275em) {
  #error-banner #error-banner-container {
    height: 600px;
  }
}
@media (min-width: 61.9375em) and (max-width: 74.99em) {
  #error-banner #error-banner-container {
    height: 822px;
  }
}
@media (min-width: 75em) and (max-width: 87.49em) {
  #error-banner #error-banner-container {
    height: 822px;
  }
}
@media (min-width: 87.5em) {
  #error-banner #error-banner-container {
    height: 822px;
  }
}
#error-banner h1 {
  line-height: 1.1;
}
@media (max-width: 35.99em) {
  #error-banner h1 {
    font-size: 60px;
  }
}
@media (min-width: 36em) and (max-width: 47.99em) {
  #error-banner h1 {
    font-size: 100px;
  }
}
@media (min-width: 48em) and (max-width: 61.9275em) {
  #error-banner h1 {
    font-size: 150px;
  }
}
@media (min-width: 61.9375em) and (max-width: 74.99em) {
  #error-banner h1 {
    font-size: 200px;
  }
}
@media (min-width: 75em) and (max-width: 87.49em) {
  #error-banner h1 {
    font-size: 200px;
  }
}
@media (min-width: 87.5em) {
  #error-banner h1 {
    font-size: 200px;
  }
}
#error-banner h2 {
  line-height: 1.2;
}
@media (max-width: 35.99em) {
  #error-banner h2 {
    font-size: 35px;
  }
}
@media (min-width: 36em) and (max-width: 47.99em) {
  #error-banner h2 {
    font-size: 38px;
  }
}
@media (min-width: 48em) and (max-width: 61.9275em) {
  #error-banner h2 {
    font-size: 50px;
  }
}
@media (min-width: 61.9375em) and (max-width: 74.99em) {
  #error-banner h2 {
    font-size: 70px;
  }
}
@media (min-width: 75em) and (max-width: 87.49em) {
  #error-banner h2 {
    font-size: 90px;
  }
}
@media (min-width: 87.5em) {
  #error-banner h2 {
    font-size: 90px;
  }
}
#error-banner p {
  width: 81%;
  padding-top: 20px;
  padding-bottom: 20px;
  line-height: 1.4;
}