@charset "UTF-8";
body:before {
  background-color: #fcf8e3;
  border-bottom: 1px solid #fbeed5;
  border-left: 1px solid #fbeed5;
  color: #c09853;
  font: small-caption;
  padding: 3px 6px;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
}
@media (min-width: 0em) {
  body:before {
    content: "xs ≥ 0px (0em)";
  }
}
@media (min-width: 36em) {
  body:before {
    content: "mobile ≥ 576px (36em)";
  }
}
@media (min-width: 48em) {
  body:before {
    content: "tablet ≥ 768px (48em)";
  }
}
@media (min-width: 61.9375em) {
  body:before {
    content: "desktop ≥ 991px (61.9375em)";
  }
}
@media (min-width: 75em) {
  body:before {
    content: "wide ≥ 1200px (75em)";
  }
}
@media (min-width: 87.5em) {
  body:before {
    content: "xxl ≥ 1400px (87.5em)";
  }
}

/* MAIN COLORS */
/* HEADER COLORS */
/*Navbar Colors*/
/*Homepage Colors*/
/* Footer Colors */
/* WIDTH AND HEIGHT */
/* PADDINGS AND MARGINS */
/* FONTS */
#error-banner #error-banner-container {
  background: url("../images/404.jpg") center/cover no-repeat;
  width: 100%;
}
@media (max-width: 35.99em) {
  #error-banner #error-banner-container {
    height: 420px;
  }
}
@media (min-width: 36em) and (max-width: 47.99em) {
  #error-banner #error-banner-container {
    height: 560px;
  }
}
@media (min-width: 48em) and (max-width: 61.9275em) {
  #error-banner #error-banner-container {
    height: 600px;
  }
}
@media (min-width: 61.9375em) and (max-width: 74.99em) {
  #error-banner #error-banner-container {
    height: 822px;
  }
}
@media (min-width: 75em) and (max-width: 87.49em) {
  #error-banner #error-banner-container {
    height: 822px;
  }
}
@media (min-width: 87.5em) {
  #error-banner #error-banner-container {
    height: 822px;
  }
}
#error-banner h1 {
  line-height: 1.1;
}
@media (max-width: 35.99em) {
  #error-banner h1 {
    font-size: 60px;
  }
}
@media (min-width: 36em) and (max-width: 47.99em) {
  #error-banner h1 {
    font-size: 100px;
  }
}
@media (min-width: 48em) and (max-width: 61.9275em) {
  #error-banner h1 {
    font-size: 150px;
  }
}
@media (min-width: 61.9375em) and (max-width: 74.99em) {
  #error-banner h1 {
    font-size: 200px;
  }
}
@media (min-width: 75em) and (max-width: 87.49em) {
  #error-banner h1 {
    font-size: 200px;
  }
}
@media (min-width: 87.5em) {
  #error-banner h1 {
    font-size: 200px;
  }
}
#error-banner h2 {
  line-height: 1.2;
}
@media (max-width: 35.99em) {
  #error-banner h2 {
    font-size: 35px;
  }
}
@media (min-width: 36em) and (max-width: 47.99em) {
  #error-banner h2 {
    font-size: 38px;
  }
}
@media (min-width: 48em) and (max-width: 61.9275em) {
  #error-banner h2 {
    font-size: 50px;
  }
}
@media (min-width: 61.9375em) and (max-width: 74.99em) {
  #error-banner h2 {
    font-size: 70px;
  }
}
@media (min-width: 75em) and (max-width: 87.49em) {
  #error-banner h2 {
    font-size: 90px;
  }
}
@media (min-width: 87.5em) {
  #error-banner h2 {
    font-size: 90px;
  }
}
#error-banner p {
  width: 81%;
  padding-top: 20px;
  padding-bottom: 20px;
  line-height: 1.4;
}