/* MAIN COLORS */
/* HEADER COLORS */
/*Navbar Colors*/
/*Homepage Colors*/
/* Footer Colors */
/* WIDTH AND HEIGHT */
/* PADDINGS AND MARGINS */
/* FONTS */
/* shippori-mincho-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Shippori Mincho";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/shippori-mincho-v14-latin/shippori-mincho-v14-latin-regular.eot"); /* IE9 Compat Modes */
  src: url("../fonts/shippori-mincho-v14-latin/shippori-mincho-v14-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/shippori-mincho-v14-latin/shippori-mincho-v14-latin-regular.woff2") format("woff2"), url("../fonts/shippori-mincho-v14-latin/shippori-mincho-v14-latin-regular.woff") format("woff"), url("../fonts/shippori-mincho-v14-latin/shippori-mincho-v14-latin-regular.ttf") format("truetype");
}
/* sue-ellen-francisco-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Sue Ellen Francisco";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/sue-ellen-francisco-v16-latin/sue-ellen-francisco-v16-latin-regular.eot"); /* IE9 Compat Modes */
  src: url("../fonts/sue-ellen-francisco-v16-latin/sue-ellen-francisco-v16-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/sue-ellen-francisco-v16-latin/sue-ellen-francisco-v16-latin-regular.woff2") format("woff2"), url("../fonts/sue-ellen-francisco-v16-latin/sue-ellen-francisco-v16-latin-regular.woff") format("woff"), url("../fonts/sue-ellen-francisco-v16-latin/sue-ellen-francisco-v16-latin-regular.ttf") format("truetype");
}
/*### HOMEPAGE STYLE ####*/
/* TOP BANNER DESIGN*/
#main-Banner #banner-container {
  width: 100%;
  background: url("../images/banner.jpg") center/cover no-repeat;
}
@media (max-width: 35.99em) {
  #main-Banner #banner-container {
    height: 500px;
  }
}
@media (min-width: 36em) and (max-width: 47.99em) {
  #main-Banner #banner-container {
    height: 600px;
  }
}
@media (min-width: 48em) and (max-width: 61.9275em) {
  #main-Banner #banner-container {
    height: 750px;
  }
}
@media (min-width: 61.9375em) and (max-width: 74.99em) {
  #main-Banner #banner-container {
    height: 950px;
  }
}
@media (min-width: 75em) and (max-width: 87.49em) {
  #main-Banner #banner-container {
    height: 950px;
  }
}
@media (min-width: 87.5em) {
  #main-Banner #banner-container {
    height: 950px;
  }
}
#main-Banner #banner-container #banner-title-wrap {
  padding: 1%;
  background-color: rgba(46, 64, 73, 0.6);
  color: white;
  line-height: 1;
}
#main-Banner #banner-container #banner-title-wrap p {
  font-weight: 400;
}
@media (max-width: 35.99em) {
  #main-Banner #banner-container #banner-title-wrap p {
    font-size: 35px;
  }
}
@media (min-width: 36em) and (max-width: 47.99em) {
  #main-Banner #banner-container #banner-title-wrap p {
    font-size: 36px;
  }
}
@media (min-width: 48em) and (max-width: 61.9275em) {
  #main-Banner #banner-container #banner-title-wrap p {
    font-size: 40px;
  }
}
@media (min-width: 61.9375em) and (max-width: 74.99em) {
  #main-Banner #banner-container #banner-title-wrap p {
    font-size: 50px;
  }
}
@media (min-width: 75em) and (max-width: 87.49em) {
  #main-Banner #banner-container #banner-title-wrap p {
    font-size: 50px;
  }
}
@media (min-width: 87.5em) {
  #main-Banner #banner-container #banner-title-wrap p {
    font-size: 50px;
  }
}
#main-Banner #banner-container #banner-title-wrap #banner-heading {
  width: auto;
  font-family: "Shippori Mincho", sans-serif;
  font-weight: 800;
  line-height: 1.2;
}
@media (max-width: 35.99em) {
  #main-Banner #banner-container #banner-title-wrap #banner-heading {
    font-size: 35px;
  }
}
@media (min-width: 36em) and (max-width: 47.99em) {
  #main-Banner #banner-container #banner-title-wrap #banner-heading {
    font-size: 38px;
  }
}
@media (min-width: 48em) and (max-width: 61.9275em) {
  #main-Banner #banner-container #banner-title-wrap #banner-heading {
    font-size: 50px;
  }
}
@media (min-width: 61.9375em) and (max-width: 74.99em) {
  #main-Banner #banner-container #banner-title-wrap #banner-heading {
    font-size: 70px;
  }
}
@media (min-width: 75em) and (max-width: 87.49em) {
  #main-Banner #banner-container #banner-title-wrap #banner-heading {
    font-size: 90px;
  }
}
@media (min-width: 87.5em) {
  #main-Banner #banner-container #banner-title-wrap #banner-heading {
    font-size: 90px;
  }
}
#main-Banner #banner-container #banner-title-wrap #banner-shape {
  margin-top: 4%;
}
#main-Banner #banner-container #banner-title-wrap #banner-shape #circle-shape {
  padding: 0;
  margin: 0;
  width: 24px;
  height: 24px;
  background-color: white;
}
#main-Banner #banner-container #banner-title-wrap #banner-shape #shape-line {
  height: 0px;
}
#main-Banner #banner-container #banner-title-wrap #banner-shape #shape-text {
  padding: 2px;
  font-family: "Work Sans", sans-serif;
  color: #fff;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 500;
  text-transform: uppercase;
}

/* ABOUT US INTRO SECTION */
@media (max-width: 35.99em) {
  #about-us-intro .container {
    margin: auto;
  }
}
@media (min-width: 36em) and (max-width: 47.99em) {
  #about-us-intro .container {
    margin: auto;
  }
}
@media (min-width: 48em) and (max-width: 61.9275em) {
  #about-us-intro .container {
    margin: -5% auto auto;
  }
}
@media (min-width: 61.9375em) and (max-width: 74.99em) {
  #about-us-intro .container {
    margin: -5% auto auto;
  }
}
@media (min-width: 75em) and (max-width: 87.49em) {
  #about-us-intro .container {
    margin: -5% auto auto;
  }
}
@media (min-width: 87.5em) {
  #about-us-intro .container {
    margin: -5% auto auto;
  }
}
@media (max-width: 35.99em) {
  #about-us-intro .container {
    width: 90%;
  }
}
@media (min-width: 36em) and (max-width: 47.99em) {
  #about-us-intro .container {
    width: 90%;
  }
}
@media (min-width: 48em) and (max-width: 61.9275em) {
  #about-us-intro .container {
    width: 100%;
  }
}
@media (min-width: 61.9375em) and (max-width: 74.99em) {
  #about-us-intro .container {
    width: 100%;
  }
}
@media (min-width: 75em) and (max-width: 87.49em) {
  #about-us-intro .container {
    width: 100%;
  }
}
@media (min-width: 87.5em) {
  #about-us-intro .container {
    width: 100%;
  }
}
#about-us-intro .container .row #col1 {
  background-color: #77d7d3;
  color: #2e4049;
}
@media (max-width: 35.99em) {
  #about-us-intro .container .row #col1 {
    padding: 40px 20px;
  }
}
@media (min-width: 36em) and (max-width: 47.99em) {
  #about-us-intro .container .row #col1 {
    padding: 50px 20px 60px;
  }
}
@media (min-width: 48em) and (max-width: 61.9275em) {
  #about-us-intro .container .row #col1 {
    padding: 50px 30px 60px 46px;
  }
}
@media (min-width: 61.9375em) and (max-width: 74.99em) {
  #about-us-intro .container .row #col1 {
    padding: 50px 30px 60px 46px;
  }
}
@media (min-width: 75em) and (max-width: 87.49em) {
  #about-us-intro .container .row #col1 {
    padding: 50px 30px 60px 46px;
  }
}
@media (min-width: 87.5em) {
  #about-us-intro .container .row #col1 {
    padding: 50px 30px 60px 46px;
  }
}
#about-us-intro .container .row #col2 {
  background-color: #2e4049;
  color: white;
}
@media (max-width: 35.99em) {
  #about-us-intro .container .row #col2 {
    padding: 40px 20px 60px;
  }
}
@media (min-width: 36em) and (max-width: 47.99em) {
  #about-us-intro .container .row #col2 {
    padding: 60px 20px;
  }
}
@media (min-width: 48em) and (max-width: 61.9275em) {
  #about-us-intro .container .row #col2 {
    padding: 60px 19px 60px 46px;
  }
}
@media (min-width: 61.9375em) and (max-width: 74.99em) {
  #about-us-intro .container .row #col2 {
    padding: 40px 19px 40px 46px;
  }
}
@media (min-width: 75em) and (max-width: 87.49em) {
  #about-us-intro .container .row #col2 {
    padding: 40px 19px 40px 46px;
  }
}
@media (min-width: 87.5em) {
  #about-us-intro .container .row #col2 {
    padding: 40px 19px 40px 46px;
  }
}
#about-us-intro .container .row .col-lg-4 p {
  padding-top: 10px;
}
#about-us-intro .container .row .col-lg-4 #join-link {
  color: white;
}
#about-us-intro .container .row #col3 {
  padding: 0%;
  position: relative;
  background: url("../images/backgroundimage1.jpg") center/cover no-repeat;
  min-height: 200px;
}
#about-us-intro .container .row #col3:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 109, 109, 0.67);
}
#about-us-intro .container .row #col3 .fa-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  color: white;
  font-size: 80px;
}
#about-us-intro .container .row #col3 .fa-circle:hover {
  color: #77d7d3;
}
#about-us-intro .container .row #col3 .fa-play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  color: #2e4049;
  font-size: 20px;
}

/* ABOUT US SECTION */
#about-us-container {
  padding: 4% 0%;
}
#about-us-container #about-us-content #about-section-title-wrap p {
  color: #ff6d6d;
}
#about-us-container #about-us-content #about-section-title-wrap h2 {
  color: #2e4049;
}
#about-us-container #about-us-content #about-section-content-wrap p {
  margin-bottom: 10px;
  padding-top: 10px;
  color: #727272;
  line-height: 1.5;
}
#about-us-container #donation-content {
  padding: 60px 40px 46px;
  background-color: #ecf1f0;
}
#about-us-container #donation-content #about-us-list {
  list-style: none;
  padding-left: 0;
  font-weight: 500;
  color: #727272;
  font-family: "Work Sans", sans-serif;
  font-size: 20px;
  line-height: 1.5;
}
#about-us-container #donation-content #about-us-list li {
  margin-bottom: 10px;
  padding-top: 10px;
}
#about-us-container #donation-content #total-donation-wrap #total-donation-wrap-heading h2 {
  font-weight: 800;
}
#about-us-container #donation-content #total-donation-wrap #total-donation-wrap-progress .progress {
  background-color: #c5cecc;
}
#about-us-container #donation-content #total-donation-wrap #total-donation-wrap-progress .progress .progress-bar {
  background-color: #ff6d6d;
}
#about-us-container #donation-content #total-donation-wrap h3 {
  font-family: "Shippori Mincho", sans-serif;
  font-weight: 500;
}

/*BECOME VOLUNTEER SECTION */
#become-volunteer-section {
  background: url("../images/volunteerBackground.jpg") center/cover no-repeat;
  position: relative;
}
@media (max-width: 35.99em) {
  #become-volunteer-section {
    padding: 80px 0px;
  }
}
@media (min-width: 36em) and (max-width: 47.99em) {
  #become-volunteer-section {
    padding: 80px 0px;
  }
}
@media (min-width: 48em) and (max-width: 61.9275em) {
  #become-volunteer-section {
    padding: 100px 0px;
  }
}
@media (min-width: 61.9375em) and (max-width: 74.99em) {
  #become-volunteer-section {
    padding: 140px 0px;
  }
}
@media (min-width: 75em) and (max-width: 87.49em) {
  #become-volunteer-section {
    padding: 140px 0px;
  }
}
@media (min-width: 87.5em) {
  #become-volunteer-section {
    padding: 140px 0px;
  }
}
#become-volunteer-section:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 64, 73, 0.96);
}
#become-volunteer-section .container {
  position: relative;
  color: white;
}
#become-volunteer-section .container #vounteer-form-wrap {
  border: 1px solid white;
}
@media (max-width: 35.99em) {
  #become-volunteer-section .container #vounteer-form-wrap {
    padding: 40px 20px 25px;
  }
}
@media (min-width: 36em) and (max-width: 47.99em) {
  #become-volunteer-section .container #vounteer-form-wrap {
    padding: 50px 20px 25px;
  }
}
@media (min-width: 48em) and (max-width: 61.9275em) {
  #become-volunteer-section .container #vounteer-form-wrap {
    padding: 50px 20px 25px;
  }
}
@media (min-width: 61.9375em) and (max-width: 74.99em) {
  #become-volunteer-section .container #vounteer-form-wrap {
    padding: 50px 35px 30px;
  }
}
@media (min-width: 75em) and (max-width: 87.49em) {
  #become-volunteer-section .container #vounteer-form-wrap {
    padding: 60px 65px 40px;
  }
}
@media (min-width: 87.5em) {
  #become-volunteer-section .container #vounteer-form-wrap {
    padding: 60px 65px 40px;
  }
}
#become-volunteer-section .container #vounteer-form-wrap form input {
  width: 100%;
  height: 65px;
  padding: 8px 12px 8px 23px;
  margin-bottom: 30px;
  border: 1px solid white;
  font-size: 18px;
  font-weight: 400;
  color: white;
  line-height: 1.42857143;
  background-color: transparent;
  font-family: "Work Sans", sans-serif;
}
#become-volunteer-section .container #vounteer-form-wrap form input::placeholder {
  color: #fff;
}
#become-volunteer-section .container #vounteer-form-wrap form input:focus {
  border: none;
  outline: none;
  box-shadow: 0 0 0 1px #77d7d3;
}

/*OTHER DONATIONS*/
#other-donations {
  padding: 4% 0%;
}

/*NEWSLETTER SECTION*/
#newsletter-section #newsletter-form {
  background-color: #ff6d6d;
  color: white;
}
#newsletter-section #newsletter-form form input {
  width: 70%;
  height: 65px;
  padding: 8px 12px 8px 23px;
  border: none;
  font-size: 18px;
  font-weight: 400;
  color: #727272;
}
#newsletter-section #newsletter-form form button:hover {
  border: 2px solid #2e4049;
}
#newsletter-section #recent-gallery-pics {
  background: url("../images/newsletterbackground.jpg") center/cover no-repeat;
  position: relative;
  color: #2e4049;
}
#newsletter-section #recent-gallery-pics:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: fit-content;
  height: 100%;
  background-color: rgba(119, 215, 211, 0.9);
}
#newsletter-section #recent-gallery-pics .col {
  position: relative;
}
#newsletter-section #recent-gallery-pics .col button:hover {
  border: 2px solid #2e4049;
}