/* MAIN COLORS */
/* HEADER COLORS */
/*Navbar Colors*/
/*Homepage Colors*/
/* Footer Colors */
/*### NAVBAR STYLE ####*/
@media screen and (max-width: 576px) {
  nav .container {
    padding: 0px 0px 15px;
  }
  nav #nav-buttons {
    margin-left: 5%;
    width: 90%;
    align-self: stretch;
    justify-content: space-between;
  }
  nav .navbar-brand {
    margin-left: auto;
    margin-right: auto;
  }
  nav #nav-donate-button {
    padding: 15px 30px;
    font-size: 16px;
  }
  nav #nav-toggle-button {
    padding: 15px 18px;
  }
}
@media screen and (max-width: 767px) {
  #navbar-collapse {
    margin-top: -10px;
    border-top: 1px solid #eeebeb;
    padding-left: 2rem;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 1;
    background-color: white;
  }
}
@media screen and (min-width: 1280px) {
  #nav-donate-button {
    margin-left: 57px;
  }
  .nav-item {
    padding: 0px 1.5rem 0px 1.5rem;
    border-right: 1px solid #d0d0d0;
    font-weight: 500;
  }
}
@media screen and (min-width: 576px) {
  #nav-donate-button {
    font-size: 17.5px;
    font-weight: 500;
    padding: 20px 30px;
  }
  #nav-toggle-button {
    padding: 20px 18px;
  }
}
/*Nav elements main design */
#main-navbar {
  padding-top: 29px;
  padding-bottom: 35px;
}

nav .navbar-brand img {
  width: 204px;
  height: 51px;
}
nav #nav-donate-button {
  border: none;
  border-radius: 34px;
  background-color: #ff6d6d;
  color: white;
  text-transform: uppercase;
}
nav #nav-donate-button:hover {
  background-color: #77d7d3;
}
nav #nav-toggle-button {
  border: none;
  box-shadow: 0 0 0 0;
  background-color: #ff6d6d;
  border-radius: 13px;
  color: white;
  margin-left: 25px;
}
nav #nav-toggle-button:not(.collapsed) {
  background-color: #77d7d3;
}
nav #nav-toggle-button i {
  height: 24px;
  width: 24px;
}
nav .navbar-nav .nav-link.active {
  color: #ff6d6d;
}