/* MAIN COLORS */
$primary-color: #77d7d3;
$secondary-color: #ff6d6d;
$tertiary-color: #2e4049;

/* HEADER COLORS */
$top-bar-color2: #4bc9c4;
$top-bar-text: #126360;

/*Navbar Colors*/
$nav-color1: #d0d0d0;
$extra-nav-color: #eeebeb;
